@import "variables.scss";
																					
body { font-size: 1rem; }
#wrap { width: 100%; padding-top: 20px; background-color: $yellow;}
.siteLogo { width: 15%; float: left; }
nav { 
			width: 80%; 
			text-align: right;
			display: inline-block;
			 > a { font-size: 1.3rem; width: 130px; text-align: center; display: inline-block; line-height: 15px; color: $btncolor; font-weight: 300; }
			span { font-size: .9rem; }
}
.hireUs { float: right; font-size: 1rem; background-color: $btncolor; color: $white; padding: 10px 30px; margin:0 20px 0; text-transform: uppercase; border: none; }
.butFoot {
}
.left { float: left; }
/*blockquote { font-size: 2rem; }*/
a:link, a:active, a:visited { text-decoration: none; }
/*#upperSec { background-color: $yellow; }*/
blockquote.bqUpper { font-size: 2rem; width: 60%; margin: auto; padding: 150px 0; }
.bqFoot { font-size: 2rem; padding: 150px 0; }
button { display: inline-block; }
.butFoot { color: $btncolor; padding: 15px 50px; font-size: 1.1rem;  background-color: $yellow; margin: 0; border: 1px solid; box-shadow: 8px 8px lighten($yellow, 10%); }
.bqMid { font-size: 2rem; width: 60%; margin: auto; }