@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(reset.css);
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif; }

#wrap {
  width: 100%; }

.logo {
  width: 120px;
  height: 130px;
  display: inline-block;
  margin: 5px 10px 5px 100px; }

.siteLogo {
  width: 15%;
  float: left;
  background: url("../images/Simplr-logo.png") no-repeat 0 0;
  width: 110px;
  height: 130px; }

nav {
  font-family: "Open Sans", sans-serif;
  width: 60%;
  text-align: right;
  display: inline-block; }
  nav > a {
    font-size: 1rem;
    width: 150px;
    text-align: left;
    display: inline-block;
    line-height: 15px;
    color: #2d3e4e;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-weight: bold; }
  nav span {
    font-size: .9rem;
    font-weight: lighter; }

#upperSec nav {
  vertical-align: top;
  margin-top: 20px; }

.hireUs {
  float: right;
  font-size: 1rem;
  background-color: #2d3e4e;
  color: white;
  padding: 15px 40px;
  margin: 0 20px 0;
  text-transform: uppercase;
  border: none; }

#lowSec {
  background-color: white;
  padding: 30px 20px 40px; }

.left {
  float: left; }

/*blockquote { font-size: 2rem; }*/
a:link, a:active, a:visited {
  text-decoration: none; }

#upperSec {
  background-color: #f5d55a;
  padding-top: 20px; }

blockquote.bqUpper {
  font-size: 3rem;
  width: 60%;
  margin: auto;
  padding: 150px 0;
  color: #2D3E4F;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  background: url("../images/Simplr-Splash-Symbol-1.png") no-repeat 0 30px, url("../images/Simplr-Splash-Symbol-2.png") no-repeat 500px 100px; }

.bqFoot {
  font-size: 2.5rem;
  color: #2D3E4F;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 15px;
  display: inline-block; }

button {
  display: inline-block; }

.butFoot {
  color: #2d3e4e;
  padding: 15px 40px;
  font-size: 1.3rem;
  background-color: #f5d55a;
  margin-right: 30px;
  border: none;
  box-shadow: 8px 8px #fbedba;
  float: right; }

.bqMid {
  font-size: 3rem;
  width: 60%;
  margin: auto;
  padding: 80px 0;
  color: #2D3E4F;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-align: center; }

#midSec {
  background-color: #F5F5F7; }

.services {
  text-align: center; }

.psdhtml {
  display: inline-block;
  width: 250px;
  margin: 10px 30px; }
  .psdhtml > i {
    background: url("../images/Simplr-HTML5-Illustration.png") no-repeat 0 0;
    display: inline-block;
    width: 130px;
    height: 150px; }
  .psdhtml > h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    color: #2D3E4F; }
  .psdhtml > p {
    padding: 8px;
    margin: 10px;
    line-height: 20px;
    font-family: "Droid Sans", sans-serif;
    color: #2D3E4F; }

.rwd {
  display: inline-block;
  width: 250px;
  margin: 10px 30px; }
  .rwd > h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: #2D3E4F; }
  .rwd > i {
    background: url("../images/Simplr-Responsive-Illustration.png") no-repeat 0 0;
    display: inline-block;
    width: 130px;
    height: 150px; }
  .rwd > p {
    padding: 8px;
    margin: 10px;
    line-height: 20px;
    font-family: "Droid Sans", sans-serif;
    color: #2D3E4F; }

.template {
  display: inline-block;
  width: 250px;
  margin: 10px 30px; }
  .template > h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: #2D3E4F; }
  .template > i {
    background: url("../images/Simplr-EmailTemplates-Illustration.png") no-repeat 0 0;
    display: inline-block;
    width: 130px;
    height: 150px; }
  .template > p {
    padding: 8px;
    margin: 10px;
    line-height: 20px;
    font-family: "Droid Sans", sans-serif;
    color: #2D3E4F; }

.socialNav {
  width: 600px;
  float: right;
  text-align: left; }
  .socialNav > div {
    display: inline-block;
    padding: 10px;
    margin-right: 10px; }
  .socialNav a {
    font-weight: bold;
    font-size: 1rem;
    font-family: "Droid Sans", sans-serif;
    color: #000; }
  .socialNav span {
    color: #b1b1b1;
    font-size: .8rem;
    font-weight: normal; }
  .socialNav + span {
    position: absolute;
    right: 30px;
    color: #B1B1B1;
    top: 30px;
    font-size: .8rem; }

footer {
  border-top: 1px #e6e6e6 dashed;
  padding: 10px;
  position: relative;
  margin: 20px 0; }

@media (max-width: 1024px) {
  .logo {
    float: left; }

  nav {
    width: 60%; }

  blockquote.bqUpper {
    background: url("../images/Simplr-Splash-Symbol-1.png") no-repeat 0 30px, url("../images/Simplr-Splash-Symbol-2.png") no-repeat 300px 100px; }

  blockquote.bqUpper, blockquote.bqMid, blockquote.bqFoot {
    font-size: 2rem; }

  blockquote .bqFoot {
    display: block;
    margin: 5px auto;
    float: none;
    text-align: center; }

  .butFoot {
    float: none;
    display: block;
    margin: auto;
    text-align: center; } }
@media (max-width: 1130px) {
  blockquote.bqFoot {
    display: block;
    margin: 10px auto;
    float: none;
    text-align: center; }

  .butFoot {
    float: none;
    display: block;
    margin: auto;
    text-align: center; }

  .butFoot {
    float: none;
    display: block;
    margin: auto;
    text-align: center; } }
@media (max-width: 600px) {
  .logo {
    float: none;
    display: block;
    margin: 20px auto; }

  nav {
    width: 80%;
    margin: 20px auto;
    display: block;
    clear: both;
    text-align: center; }
    nav a {
      padding: 10px;
      text-align: center; }

  blockquote.bqUpper {
    padding: 100px 0; }

  blockquote.bqMid {
    padding: 40px 0; }

  /*blockquote.bqFoot { width: 60%; }*/
  .hireUs {
    float: none;
    display: block;
    margin: 5px auto; }

  blockquote.bqUpper, blockquote.bqMid {
    font-size: 1.8rem;
    width: 80%; }

  footer + span {
    position: static;
    display: block;
    margin: auto;
    float: none;
    text-align: center; }

  blockquote.bqFoot {
    display: block;
    margin: 10px auto;
    float: none;
    text-align: center; }

  .butFoot {
    float: none;
    display: block;
    margin: auto;
    text-align: center; }

  .socialNav {
    display: block;
    margin: auto;
    width: auto;
    text-align: center;
    float: none; }
    .socialNav + span {
      position: static;
      margin: auto;
      display: block;
      text-align: center; } }
* {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
