/* Type */

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$context: 16px; //Base browser font size
$unitRelative: rem; //Relative font size unit