/* Constants */

$context: 16px; //Base browser font size
$unitRelative: rem; //Relative font size unit

//Getting relative widths percentage
/* Use case => .sidebar {width: liquid_layout(360, 960); */

@function liquid_layout($target, $context) {
	$result : ($target / $context) * 100;
	@return $result#{'%'};
}

//Getting Relative Font Sizes
/*  Target / Context = Result */

@function relativeValue($target) {
	$fontsize: $target/$context#{$unitRelative};
	$lineheight: $target/$context#{$unitRelative};
	@return $fontsize;
	@return $lineheight;
}

/* FONT SHORTHAND */
@mixin font($fontWeight, $fontStyle, $fontSize, $lineHeight, $fontFamily){
	$fontsize: relativeValue($fontSize);
	$lineheight: relativeValue($lineHeight);
	font: #{$fontWeight} #{$fontStyle} #{$fontsize}/#{$lineheight} #{$fontFamily};
}


//Getting the sticky footer
/*  Use case => @include sticky_footer('.wrap', '.wrapper', '.footer', 80px); */

@mixin sticky_footer($wrapSelector, $wrapperSelector, $footerSelector, $footerHeight){
	//Important Note: in order to successfully use this mixin, developer must have 
	//wrapSelector is that wraps the wrapperSelector
	//footer selector will be an immediate sibling of wrapSelector
	#{$wrapSelector} {min-height: 100%;}
	#{$wrapperSelector} {overflow:auto; padding-bottom: $footerHeight;}
	#{$footerSelector} {position: relative; margin-top: -#{$footerHeight}; height: $footerHeight; clear:both;}
}
