/* imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/* Variables */

/* Colors */
$btncolor: #2D3E4F; 
$yellow: #F5D55A;


/* Widths */
$contWidth : 1280;
$less: 1024;


/* margin and pading */
$m20auto: 20px auto;
/* LAYOUTS */

$os: "Open Sans", sans-serif;
$ds: "Droid Sans", sans-serif;
$osc: "Open Sans Condensed", sans-serif;
