@import "global/_css3";
@import "global/_reset";
@import "global/_mixins";
@import "global/_functions";
@import "global/_typography";
@import "global/_variables";

h1,
h2,
h3,
h4,
h5 {
  font-family: $bg;
  text-transform: uppercase;
  font-weight: 500;
}

a, a.link-block .link {
  color: #218BC3;
  text-decoration: none;
}

.page-title {
  margin-top: 100px;
}
h1, h2, h6 {
  font-weight: 300;
}
h1, h2 {
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 20px;
}
h3, h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

.lead-in {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}
hr {
  top: -7px;
  margin: -1px 0 20px 0;
  border: none;
  border-top: 1px #000 solid;
}

/* container */
.wrapper {
  width: 84.375%;
  float: right;
  text-align: center;
  background-color: #e6e6e6;
  min-height: 100%;
}
/* left navigation */
.nav {
  width: 15.625%;
  height: 100%;
  float: left;
}
/*  */

/* ------- home-template styles -------- */

.flex-margin { 
  margin: 10%;
}
.small-flex-margin {
  margin: 5%; 
}

.details-text {
  @include font (normal, normal, 18px, 30px, sans-serif); 
}
/* manifesto styles */
.manifesto-ul li {
  text-align: left;
  &:nth-of-type(even) {
    float: right;
    width: 50%;
  }
  &:nth-of-type(odd) {
    float: left;
    width: 50%;
  }
}

