@import "global/_css3";
@import "global/_reset";
@import "global/_mixins";
@import "global/_functions";
@import "global/_typography";
@import "global/_variables";


body {
  background: #fff;
  color: #222;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $bg;
  text-transform: uppercase;
  font-weight: 500;
}

a, a:hover {
  /*color: #218BC3;*/
  text-decoration: none;
}

.page-title {
  margin-top: 100px;
}
h1, h2, h6 {
  font-weight: 300;
}
h1, h2 {
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 20px;
  -webkit-font-feature-settings: "kern", "liga", "case";
  /* No variation */
  -moz-font-feature-settings: "kern=1", "liga=1", "case=1";
  /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "kern", "liga", "case";
  /* Firefox 15.0 onwards */
  font-feature-settings: "kern", "liga", "case";
  /* No variation */
}
h3, h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

.lead-in {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}
hr {
  top: -7px;
  margin: -1px 0 20px 0;
  border: none;
  border-top: 1px #000 solid;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, hr {
  margin: 0 0 10px 0;
}

/* container */
.wrapper {
  width: 84.375%;
  float: right;
  margin-left: 15.625%;
  min-height: 100%;
}

/* left navigation */
.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 200px;
  height: 100%;
  overflow: hidden;
  cursor: default;
  color: #C8C8C8;
  background: #222;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.homeNav {
    .nav-link:hover { background-color: rgba(1, 1, 1, 0.04); }
    .nav-link span { color: #333; }
    .simplr-icon { font-size: 7rem; }
    background: #FFF;
    .nav-link-home { color: black; font-size: 2rem; }
    [class*="openwebicons-"]:before {
      color: #b2b2b2;
    }
  }
  [class*="openwebicons-"]:before {
    display: block;
    position: absolute;
    top: 1px;
    left: 25px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 2rem;
    color: gray;
    &:hover {
      background: #111;
    }
  }
  li {
    span { color: #aaa; }
    &:last-child a {
      border-bottom: 1px rgba(1, 1, 1, 0.1) solid;
    }
  }
}
.side-nav li a {
  font-weight: 300;
  padding-left: 80px;
  border-top: 1px #2D2D2D solid;
  border-color: rgba(1, 1, 1, 0.1);
  display: block;
  position: relative;
  line-height: 44px;
  &:hover {
    background: rgba(1, 1, 1, 0.04);
  }
}

.home-link {
  min-height: 170px;
}

.side-nav:not(.homeNav) {
  li a {
    border-color: #2d2d2d;
  } 
  .nav-link:hover { background-color: #111; }
}
.nav-link.active  {
  i:before, span { color: $yellow; }
}
/*  */

/* ------- home-template styles -------- */

.flex-padding { 
  padding: 0 10%;
}
.small-flex-margin {
  margin: 5%; 
}

.details-text {
  @include font (normal, normal, 15px, 21px, Open Sans); 
}
/* manifesto template styles */
.manifesto-ul li {
  text-align: left;
  &:nth-of-type(even) {
    float: right;
    width: 50%;
  }
  &:nth-of-type(odd) {
    float: left;
    width: 50%;
  }
}

/* font icons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
}
/* logo & home link */
.simpr-logo {
  max-width: 100%;
  display: block;
  padding: 20px 0;
  margin: auto;
  text-align: center;
}
.transition {
  -webkit-transition: all ease-in-out .3s;
     -moz-transition: all ease-in-out .3s;
      -ms-transition: all ease-in-out .3s;
       -o-transition: all ease-in-out .3s;
          transition: all ease-in-out .3s;
}
.nav-link-home {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
  color: $yellow;
  font-size: 1.2rem;
  .simplr-icon {
    font-size: 5.5rem;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);   
    margin-bottom: -20px;
  }
  .simplr-text {
    display: inline-block;
    margin-top: -20px;
  }
}