@import "global/_css3";
@import "global/_reset";
@import "global/_mixins";
@import "global/_functions";
@import "global/_typography";
@import "global/_variables";

body {
  background: #fff;
  color: #222;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $bg;
  text-transform: uppercase;
  font-weight: 500;
}

a, a.link-block .link, a:hover {
  color: #218BC3;
  text-decoration: none;
}

.page-title {
  margin-top: 100px;
}
h1, h2, h6 {
  font-weight: 300;
}
h1, h2 {
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 20px;
  -webkit-font-feature-settings: "kern", "liga", "case";
  /* No variation */
  -moz-font-feature-settings: "kern=1", "liga=1", "case=1";
  /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "kern", "liga", "case";
  /* Firefox 15.0 onwards */
  font-feature-settings: "kern", "liga", "case";
  /* No variation */
}
h3, h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

.lead-in {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}
hr {
  top: -7px;
  margin: -1px 0 20px 0;
  border: none;
  border-top: 1px #000 solid;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, hr {
  margin: 0 0 10px 0;
}

/* container */
.wrapper {
  width: 84.375%;
  float: right;
  text-align: center;
  /*background-color: #e6e6e6;*/
  min-height: 100%;
}
/* left navigation */
.nav {
  width: 15.625%;
  height: 100%;
  float: left;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  overflow: hidden;
  cursor: default;
  color: #C8C8C8;
  /*background: #222;*/
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.side-nav li a {
  font-weight: 300;
  padding-left: 50px;
  border-top: 1px #2D2D2D solid;
  display: block;
  position: relative;
  line-height: 44px;
}
.side-nav.white-nav li a {
  color: #333;
  border-color: rgba(1, 1, 1, 0.1);
  /*line-height: 35px;*/
  /*font-size: 14px;*/
}
/*  */

/* ------- home-template styles -------- */

.flex-margin { 
  margin: 10%;
}
.small-flex-margin {
  margin: 5%; 
}

.details-text {
  @include font (normal, normal, 15px, 21px, Open Sans); 
}
/* manifesto styles */
.manifesto-ul li {
  text-align: left;
  &:nth-of-type(even) {
    float: right;
    width: 50%;
  }
  &:nth-of-type(odd) {
    float: left;
    width: 50%;
  }
}

