* {margin: 0; padding: 0; @include box_sizing}
//article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
html, body {width: 100%; height: 100%; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
img, fieldset {border: none;}
img, object, embed, audio, video {display: block; max-width: 100%;}
ul, ol {list-style: none;}
.clearfix:after {content: "."; display: block; height: 0; visibility: hidden; clear: both; float: none; font-size: 0;}
table {border-collapse: collapse; border-spacing: 0;}
a {text-decoration: none;}
input[type="text"], input[type="password"], textarea {outline: none; width: 100%; border: none;}